<script setup>
import IconGenerate from "./Icons/Generate.vue";
import IconView from "./Icons/View.vue";
import IconDownload from "./Icons/Download.vue";

import DeckFront from "../utils/DeckFront";
import DeckBack from "../utils/DeckBack";
import Card from "../utils/Card";

import { Axis, VertexBuffer, Vector3 } from "babylonjs";

import { config } from "../assets/json/config.json";

import { useStore } from "../stores/kody";

import { ref } from "vue";

const kodyStore = useStore();

const props = defineProps({
  deck_name: String,
  card: Object,
  nb_cards: Number,
  position: Number,
});

let code = `${props.deck_name}_${props.card.name}`;

const generate = ref(null);
const view = ref(null);
const download = ref(null);

const renderMesh = () => {
  if (code.match(/_DeckFront$/)) {
    const df = new DeckFront(
      kodyStore.scene,
      props.nb_cards,
      "#CCCCCC",
      props.deck_name
    );
    kodyStore.meshes[code] = {
      status: true,
      obj: df.render3D(),
    };
  } else if (code.match(/_DeckBack$/)) {
    const db = new DeckBack(kodyStore.scene, props.nb_cards, "#CCCCCC");
    kodyStore.meshes[code] = {
      status: true,
      obj: db.render3D(),
    };
  } else {
    // it's a card !
    const c = new Card(
      kodyStore.scene,
      props.card.name,
      props.card.code,
      props.card.color
    );
    kodyStore.meshes[code] = {
      status: true,
      obj: c.render3D(),
    };
    kodyStore.meshes[code].obj.translate(
      Axis.Z,
      2 + props.position * (config.card.depth + config.print.tolerance.z),
      kodyStore.scene
    );
  }
  generate.value.classList.add("hide");
  view.value.classList.remove("hide");
  download.value.classList.remove("hide");
};

const toggle = () => {
  kodyStore.meshes[code].status = !kodyStore.meshes[code].status;
  kodyStore.meshes[code].obj.setEnabled(kodyStore.meshes[code].status);
};
const downloadSTL = () => {
  let output = "solid exportedMesh\r\n";
  let vertices = kodyStore.meshes[code].obj.getVerticesData(
    VertexBuffer.PositionKind
  );
  let indices = kodyStore.meshes[code].obj.getIndices();

  for (let i = 0; i < indices.length; i += 3) {
    const id = [indices[i] * 3, indices[i + 1] * 3, indices[i + 2] * 3];
    let v = [
      new Vector3(vertices[id[0]], vertices[id[0] + 1], vertices[id[0] + 2]),
      new Vector3(vertices[id[1]], vertices[id[1] + 1], vertices[id[1] + 2]),
      new Vector3(vertices[id[2]], vertices[id[2] + 1], vertices[id[2] + 2]),
    ];
    const p1p2 = v[0].subtract(v[1]);
    const p3p2 = v[2].subtract(v[1]);
    const n = Vector3.Cross(p1p2, p3p2).normalize();

    output += `facet normal ${n.x} ${n.y} ${n.z}\r\n`;
    output += `\touter loop\r\n`;
    output += `\t\tvertex ${v[0].x} ${v[0].y} ${v[0].z}\r\n`;
    output += `\t\tvertex ${v[1].x} ${v[1].y} ${v[1].z}\r\n`;
    output += `\t\tvertex ${v[2].x} ${v[2].y} ${v[2].z}\r\n`;
    output += `\tendloop\r\n`;
    output += `endfacet\r\n`;
  }
  output += `endsolid exportedMesh`;
  const a = document.createElement("a");
  const blob = new Blob([output], { type: "application/octet-stream" });
  a.href = window.URL.createObjectURL(blob);
  a.download = code + ".stl";
  a.click();
};
</script>

<template lang="pug">
.button
    span {{card.name}}
    a(ref="generate", @click="renderMesh()", title="Générer la carte")
        IconGenerate
    a.hide(ref="view", @click="toggle()", title="Afficher/Masquer la carte")
        IconView
    a.hide(ref="download", @click="downloadSTL()", title="Télécharger la carte")
        IconDownload
</template>

<style lang="less">
.button {
  @apply mb-1 py-1 px-2 mx-2;
  @apply bg-white;
  @apply text-black text-xs;
  @apply rounded-lg;
  @apply flex flex-row items-center justify-start;

  span {
    @apply block;
    @apply flex-grow;
  }

  a {
    @apply inline-block;
    @apply text-black;

    &:hover {
      @apply text-red-500;
    }

    &.hide {
      @apply hidden;
    }
  }
}
</style>
