<script setup>
import Card from "./Card.vue";
const props = defineProps({
  name: String,
  cards: Object,
});

const deckFront = {
  name: "DeckFront",
};

const deckBack = {
  name: "DeckBack",
};
</script>
<template lang="pug">
.deck(:id="'deck_' + name.toLowerCase()")
    h2 {{name}}
    .buttons-wrapper
        Card(:deck_name="name", :card="deckFront", :nb_cards="cards.length")
        Card(v-for="(card, index) in cards", :key="card.name", :deck_name="name", :card="card", :position="index")
        Card(:deck_name="name", :card="deckBack", :nb_cards="cards.length")
</template>
<style lang="less">
.deck {
  @apply h-full;

  h2 {
    @apply hidden;
  }

  .buttons-wrapper {
    @apply flex items-stretch justify-center flex-col;
    @apply py-2;
  }
}
</style>
