<script setup>
import { onMounted } from "vue";
import {
  Engine,
  Scene,
  Color3,
  Vector3,
  ArcRotateCamera,
  HemisphericLight,
  //  AxesViewer,
} from "babylonjs";

import { useStore } from "../stores/kody";

const kodyStore = useStore();

onMounted(() => {
  let canvas = document.getElementById("render");
  kodyStore.engine = new Engine(canvas, true, {
    preserveDrawingBuffer: true,
    stencil: true,
  });

  kodyStore.scene = new Scene(kodyStore.engine);
  kodyStore.scene.useRightHandedSystem = true;
  kodyStore.scene.clearColor = Color3.FromHexString("#9fc6dc");
  var camera = new ArcRotateCamera(
    "camera",
    -Math.PI / 2,
    -Math.PI / 2.5,
    3,
    new Vector3(0, 0, 250),
    kodyStore.scene
  );
  camera.setTarget(Vector3.Zero());
  camera.attachControl(canvas, false);
  new HemisphericLight("light1", new Vector3(1, 1, 0), kodyStore.scene);

  kodyStore.engine.runRenderLoop(function () {
    kodyStore.scene.render();
  });
  window.addEventListener("resize", function () {
    kodyStore.engine.resize();
  });
  // new AxesViewer(kodyStore.scene, 15);
});
</script>

<template lang="pug">
canvas#render
</template>

<style lang="less">
#render {
  @apply w-full h-full;

  &:focus {
    @apply outline-none;
  }
}
</style>
