<script setup>
import Scene from "./components/Scene.vue";

import { computed, onMounted } from "vue";

import { useStore } from "./stores/kody";
import Deck from "./components/Deck.vue";

const kodyStore = useStore();

const decks = computed(() => {
  return kodyStore.getDecks;
});

onMounted(() => {
  kodyStore.fetchJSONs();

  document.getElementById("choose-deck").addEventListener(
    "change",
    (e) => {
      Object.values(kodyStore.meshes).forEach((c) => {
        c.status = false;
        c.obj.setEnabled(false);
      });
      document.querySelectorAll(".deck").forEach((d) => {
        d.classList.add("hide");
      });
      document
        .querySelector(`#deck_${e.target.value.toLowerCase()}`)
        .classList.remove("hide");
    },
    false
  );
});
</script>

<template lang="pug">
main
  aside
    #logo
      h1 Kody
      img(src="favicon.png")
    #decks
      select#choose-deck
        option(v-for="(deck, index) in decks", :key="deck.name", :value="deck.name") {{deck.name}}
      Deck(v-for="(deck, index) in decks", :key="deck.name", :name="deck.name", :cards="deck.cards", :class="!index ? '': 'hide'")
    #version v.1.0.0
  Scene
</template>

<style lang="less">
main {
  @apply flex flex-row;
  @apply h-full;
  background-color: #4f5051;

  aside {
    @apply flex flex-col;
    @apply h-full min-w-fit;
    @apply shadow-sm;

    #logo {
      @apply flex flex-row-reverse items-start;
      @apply w-full;
      @apply border-b border-gray-400;
      @apply py-2 px-4;
      @apply shadow-sm;

      img {
        @apply w-12 h-12;
      }

      h1 {
        @apply flex-grow;
        @apply font-bold text-3xl;
        @apply text-white;
        @apply pl-4;
      }
    }

    #decks {
      @apply w-56;
      @apply px-2;
      @apply flex-grow;

      #choose-deck {
        @apply w-full h-8;
        @apply rounded-lg;
        @apply px-2;
      }
    }

    #version {
      @apply w-full;
      @apply text-gray-400;
      @apply text-center text-xs;
      @apply py-2;
      @apply border-t border-gray-400;
    }
  }
}
</style>
